

.bttn_primary_dark{
    padding: 12px 24px;
    color: $lightest;
    background: $dark;
    &:hover{
        color: $dark;
        background: $light;
    }
}
.bttn_primary_light{
    padding: 12px 24px;
    color: $dark;
    background: $lightest;
    &:hover{
        background: $light;
    }
}
.bttn_secondary_dark{
    padding: 12px 24px;
    color: $dark;
    &:hover{
        text-decoration: underline;
    }
}
.bttn_secondary_light{
    padding: 12px 24px;
    color: $lightest;
    &:hover{
        text-decoration: underline;
    }
}
