.site_footer {
  background: $dark;
  color: #fff;
  width: 100%;
  padding: 56px 0px;
  display: flex;
}
@media (min-width: $tablet) {
  .site_footer {
    padding: 0;
  }
}
.footer_container {
  width: 255px;
  margin: 0 auto;
  .logo_container {
    margin-bottom: 32px;
    img {
      width: 170px;
      height: 16px;
      margin: 0 auto;
    }
  }
  .socials_nav ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    width: 70%;
    margin: 0 auto 49px auto;
  }

  .site_nav ul {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 19px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 119px;
  }
  .bttn_secondary_light {
    margin: 0 auto 24px auto;

    span {
      margin-left: 22px;
    }
  }
  .copyright {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.5;
  }
  @media (min-width: $tablet) {
    width: 100%;
    padding: 64px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    align-items: start;
  
  .logo_container {
    margin-left: 0;
    width: fit-content;
  }
  .bttn_secondary_light {
    grid-row: 1/2;
    grid-column: 2/3;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    align-self: start;
  }
  .site_nav {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-right: 0;
  }
  .site_nav ul {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    column-gap: 26px;
    margin-bottom: 72px;
    margin-top: 0;
    justify-content: start;
  }
  .socials_nav {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 0;
    width: fit-content;
    justify-content: start;
  }
  .socials_nav ul {
    column-gap: 13.33px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .copyright {
    width: fit-content;
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: end;
    align-self: start;
  }
}
@media(min-width: $desktop){
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  width: fit-content;
  .logo_container{
    margin-right: 107px;
  }

  .site_nav{
    grid-column: 2/3;
    grid-row: 1/3;
    width: fit-content;
  }
  .site_nav ul{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    justify-items: start;
    margin-bottom: 0;
    margin-right: 612px;
  }
  .socials_nav{
    grid-row: 2/3;
    align-self: end;
  }
  .bttn_secondary_light{
    grid-column:3/4;
    grid-row: 1/2;
    padding-right: 0;
  }
  .copyright{
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: end;
  }
}
}
