button {
  display: block;
  width: fit-content;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4 {
  margin:0;
  padding:0;
  font-weight: $bold;
}
h1,
h2 {
  text-transform: uppercase;
}
h2 {
  @include lg_heading;
}
h3 {
  @include md_heading;
}
h4 {
  @include sm_heading;
}
main{
  position:relative;
  z-index:10;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontfamily;
}
